html {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.container {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kata {
    padding: 5px;
}

.box {
    text-align: center;
    align-content: center;
}

input {
    width: 200px;
    height: 20px;
}

